 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div *ngIf='tours.length==0'>
     <p>No hay toures asociados a este id</p>
 </div>

<div *ngFor='let tour of tours'>
    <div class="card">
        <div class="left-side"></div>

        <div class="right-side bg-light">
            <div class="card-info">
                <h1>{{tour.name}}</h1>
                <hr/>
                <table style="width:100%; text-align:left">
                    <tr>
                        <td><li class="fa fa-home"></li> Ciudad</td>
                        <td>{{tour.city}}</td>
                    </tr>
                    <tr>
                        <td><li class="fa fa-usd"></li> Precio</td>
                        <td>${{tour.price}}</td>
                    </tr>
                    <tr>
                        <td><li class="fa fa-list"></li> Categoria</td>
                        <td>{{tour.category}}</td>
                    </tr>
                    <tr>
                        <td><li class="fa fa-user"></li> Responsable</td>
                        <td>{{tour.responsible}}</td>
                    </tr>
                </table>
                <hr/>
                <p>{{tour.description}}</p>
            </div>
            <span><button class="btn btn-info btn-lg btn-block text-uppercase contact" (click)="myDialog()">Contact</button></span>
        </div>
    </div>
    <hr /> 
</div>