<div class="col-12" style="display: flex">
  <div class="col-8" style="background-image:url(../assets/images/background/login-register.jpg); height: 100vh;  background-repeat: no-repeat;">
  </div>
  <div class="col-4">
    <form [formGroup]="addUserForm" style="margin: 1% 5% 0% 5%;">
      <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
          src="../assets/images/logo-text.png" alt="Home" /></a>
      <div style="text-align: center" v>
        <h3 class="box-title">Registrese ahora</h3>
      </div>
      <div class="col-12 m-t-20">
        <input class="form-control" type="text" formControlName="user" (keyup)="onKeyInput($event.target.value, 'user');"
          placeholder="Usuario">
      </div>
      <div class="col-12">
        <input class="form-control" type="text" formControlName="names" (keyup)="onKeyInput($event.target.value, 'names');"
          placeholder="Nombres">
      </div>
      <div class="col-12">
        <input class="form-control" type="text" formControlName="lastNames" (keyup)="onKeyInput($event.target.value, 'lastNames');"
          placeholder="Apellidos">
      </div>
      <div class="col-12">
        <input class="form-control" type="text" formControlName="documentNumber" (keyup)="validateNumber($event.target.value, 'documentNumber');"
          placeholder="Número de documento ">
      </div>
      <div class="col-12">
        <input class="form-control" type="text" formControlName="phoneNumber" (keyup)="validateNumber($event.target.value, 'phoneNumber');"
          placeholder="Número de télefono">
      </div>
      <div class="col-12">
        <input class="form-control" type="text" formControlName="email" (keyup)="onKeyInput($event.target.value, 'email');"
          placeholder="Correo electrónico">
      </div>
      <div class="col-12 checkbox checkbox-primary p-t-0" style="display: flex; margin-top: 2%;">
        <label>Sexo: </label>
        <div class="col-6">
          <input id="checkbox-sexM" type="checkbox" value="M" formControlName="sexM" (click)="validateSex('M', 'sex');">
          <label for="checkbox-sexM">Masculino</label>
        </div>
        <div class="col-6">
          <input id="checkbox-sexF" type="checkbox" value="F" formControlName="sexF" (click)="validateSex('F', 'sex');">
          <label for="checkbox-sexF">Femenino</label>
        </div>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%;">
          <input matInput [matDatepicker]="picker" formControlName="bornDate" (dateChange)="onKeyInput($event.target.value, 'bornDate');"
            placeholder="Fecha nacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12">
        <input [ngStyle]="errorPassword ? {'border-color': 'red'} : ''" class="form-control" type="password"
          formControlName="password" (keyup)="onKeyInput($event.target.value, 'password');" placeholder="Password">
      </div>
      <div class="col-12">
        <input [ngStyle]="errorPassword ? {'border-color': 'red'} : ''" class="form-control" type="password"
          formControlName="confirmPassword" (keyup)="onKeyInput($event.target.value, 'confirmPassword');" placeholder="Confirm Password">
      </div>
    </form>
    <div class="col-12" style="text-align: center; margin-top: 3%; margin-bottom: 1%;">
      <button [disabled]="!buttonRegister" (click)="registerUser()">Agregar</button>
    </div>
    <div class="col-sm-12 text-center">
      <p>Ya tiene una cuenta creada? <a href="/login" class="text-info m-l-5"><b>Ingresar</b></a></p>
    </div>
  </div>