<div  >
  <!-- Fitros para buscar los guias -->
  <div>
    <span id="filtro">City:</span>
    <mat-form-field>
      <mat-label>Select City</mat-label>
      <mat-select (selectionChange)="cambiaCiu($event.value)">
        <mat-option *ngFor="let city of cities"  [value]="city.pk">
          {{city.fields.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span id="filtro">Category: </span>
    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select  (selectionChange)="cambiaCat($event.value)" >
        <mat-option  *ngFor="let category of categorys"  [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Lista de los guias  -->
  <div class="card-deck">
    <div *ngFor="let guia of Guias; let i = index">
      <div class="card" style="width: 18rem;">
        <img src={{guia.fotoUrl}} class="card-img-top" alt="foto de {{guia.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{guia.nombres}} ({{guia.ciudad}})</h5>
          <p class="card-text">{{guia.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span *ngIf="guia?.categorias?.length > 1">Categorias</span>
            <span *ngIf="guia?.categorias?.length < 2">Categoria
              <ul>
                <li *ngIf="guia?.categorias?.length < 1">No contiene</li>
              </ul>
            </span>
            <ul *ngFor="let categoria of guia.categorias">
              <li>{{categoria}}{{guia?.categorias?.length}}</li>
            </ul>
          </li>
          <li class="list-group-item">Redes Sociales <br>
            <a class="redes" title="facebook de {{guia.nombres}}" data-toggle="tooltip" href={{guia.usuariosRedes}} target="_blank"><i class="fa fa-facebook fa-2x"></i> </a>
            <a class="redes" title="Google plus de {{guia.nombres}}" data-toggle="tooltip" href={{guia.usuariosRedes}} target="_blank"><i class="fa fa-google fa-2x"></i></a>
            <a class="redes" title="twitter de {{guia.nombres}}" data-toggle="tooltip" href={{guia.usuariosRedes}} target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a class="redes" title="instagram de {{guia.nombres}}" data-toggle="tooltip" href={{guia.usuariosRedes}} target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
        </ul>
        <div class="card-body">
          <a href="#tour/{{i}}" class="card-link">Tours<i class="fa fa-rouble"></i></a>
          <a href="#" class="card-link"> <i class="fas fa-hiking"></i><i class="fas fa-route">route</i>Another link</a>
        </div>
      </div>
    </div>
  </div>


  <mat-paginator (page)="pageChangeEvent($event)" #paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator> -->
</div>
